.ui-pdp-seller__list-description { 
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 5px; 
    padding: 0; 
    list-style-position: inside;
    color: gray;
} 

.ui-pdp-seller__list-description { 
    display: -webkit-flex; 
    display: flex; 
    justify-content: center; 
    margin: 0; 
    padding: 0;
} 

*,:before,:after { 
    box-sizing: border-box!important; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.ui-pdp-seller__item-description { 
    display: -webkit-flex; 
    display: flex; 
    -webkit-flex-direction: column; 
    flex-direction: column; 
    -webkit-align-items: center; 
    align-items: center; 
    text-align: center; 
    font-size: 12px; 
    position: relative; 
    line-height: 1; 
    padding: 8px 5px;
} 

li  { 
    list-style: none;
} 

.ui-pdp-seller__item-description:after { 
    background: #ddd; 
    content: ""; 
    height: 91%; 
    position: absolute; 
    right: 0; 
    top: 8%; 
    width: 1px;
} 

.ui-pdp-seller__item-description:last-of-type:after { 
    display: none;
} 

strong { 
    font-weight: 700;
    color: gray;
} 

.ui-pdp-seller__sales-description { 
    font-size: 24px; 
    color: #000; 
    line-height: 1.2; 
    font-weight: 400; 
    display: block;
} 

p { 
    margin-top: 0; 
    font-size: inherit; 
    font-weight: inherit;
} 

.ui-pdp-seller__text-description { 
    margin-top: 8px; 
    line-height: 1;
} 

p:last-child { 
    margin-bottom: 0;
} 

p  { 
    margin: 5px;
} 

.ui-pdp-seller__icon-description { 
    display: inline-block; 
    width: 28px; 
    padding-top: 3px; 
    vertical-align: top;
} 

.ui-pdp-icon { 
    fill: #00000040;
} 