.v10_1990 {
    width: 375px;
    height: 2498px;
    background: rgba(255, 147, 57, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v10_1991 {
    width: 411px;
    height: 201px;
    background: rgba(253, 226, 228, 1);
    opacity: 1;
    position: absolute;
    top: 2322px;
    left: 18px;
  }
  .v10_1992 {
    width: 471px;
    height: 292px;
    background: rgba(253, 226, 228, 1);
    opacity: 1;
    position: absolute;
    top: 131px;
    left: 461px;
    transform: rotate(-165deg);
  }
  .v10_2016 {
    width: 908px;
    height: 2197px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: fixed;
    top: 238px;
    left: 331px;
    overflow: hidden;
  }
  .v10_1999 {
    width: 56px;
    height: 94px;
    
    opacity: 1;
    position: absolute;
    top: 513px;
    left: 638px;
    border: 3px solid rgba(253, 226, 228, 1);
  }
  .v10_2030 {
    width: 56px;
    height: 94px;
    
    opacity: 1;
    position: absolute;
    top: 964px;
    left: 385px;
    border: 3px solid rgba(253, 226, 228, 1);
    transform: rotate(-166deg);
  }
  .v10_2031 {
    width: 56px;
    height: 94px;
    
    opacity: 1;
    position: absolute;
    top: 1181px;
    left: 583px;
    border: 3px solid rgba(253, 226, 228, 1);
    transform: rotate(-32deg);
  }
  .v10_2032 {
    width: 56px;
    height: 94px;
    
    opacity: 1;
    position: absolute;
    top: 1181px;
    left: 583px;
    border: 3px solid rgba(253, 226, 228, 1);
    transform: rotate(-32deg);
  }
  .v10_2033 {
    width: 56px;
    height: 94px;
    
    opacity: 1;
    position: absolute;
    top: 1891px;
    left: 652px;
    border: 3px solid rgba(253, 226, 228, 1);
  }
  .v10_2014 {
    width: 56px;
    height: 94px;
    
    opacity: 1;
    position: absolute;
    top: 394px;
    left: 400px;
    border: 3px solid rgba(253, 226, 228, 1);
  }
  .v10_2015 {
    width: 41px;
    height: 66px;
    
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 645px;
    border: 3px solid rgba(253, 226, 228, 1);
    transform: rotate(-12deg);
  }
  .v10_2000 {
    width: 38px;
    height: 38px;
    background: rgba(253, 226, 228, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 348px;
    border-radius: 50%;
  }
  .v10_2009 {
    width: 38px;
    height: 39px;
    background: rgba(253, 226, 228, 1);
    opacity: 1;
    position: absolute;
    top: 175px;
    left: 667px;
    border-radius: 50%;
  }
  .v10_2010 {
    width: 38px;
    height: 39px;
    background: rgba(253, 226, 228, 1);
    opacity: 1;
    position: absolute;
    top: 386px;
    left: 626px;
    border-radius: 50%;
  }
  .v10_2011 {
    width: 389px;
    height: 801px;
    background: rgba(253, 226, 228, 1);
    opacity: 1;
    position: absolute;
    top: 830px;
    left: 310px;
  }
  .v10_2035 {
    width: 389px;
    height: 801px;
    background: rgba(253, 226, 228, 1);
    opacity: 1;
    position: absolute;
    top: 1396px;
    left: 0px;
  }
  .v10_2012 {
    width: 38px;
    height: 39px;
    background: rgba(253, 226, 228, 1);
    opacity: 1;
    position: absolute;
    top: 746px;
    left: 340px;
    border-radius: 50%;
  }
  .v10_2013 {
    width: 38px;
    height: 39px;
    background: rgba(253, 226, 228, 1);
    opacity: 1;
    position: absolute;
    top: 478px;
    left: 415px;
    border-radius: 50%;
  }
  .v10_2036 {
    width: 389px;
    height: 801px;
    background: rgba(253, 226, 228, 1);
    opacity: 1;
    position: absolute;
    top: 1332px;
    left: 502px;
    transform: rotate(-1deg);
  }
  .v10_2028 {
    width: 375px;
    height: 2275px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 46px;
    left: 0px;
    overflow: hidden;
  }
  .v10_2021 {
    width: 229px;
    height: 406px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 978px;
    left: 74px;
    overflow: hidden;
  }
  .v10_2022 {
    width: 227px;
    height: 406px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1869px;
    left: 72px;
    overflow: hidden;
  }
  .v10_2019 {
    width: 227px;
    height: 406px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 549px;
    left: 74px;
    overflow: hidden;
  }
  .v10_2020 {
    width: 227px;
    height: 406px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1441px;
    left: 72px;
    overflow: hidden;
  }
  .v10_2017 {
    width: 310px;
    height: 127px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 274px;
    left: 33px;
    overflow: hidden;
  }
  .v10_2018 {
    width: 310px;
    height: 84px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 423px;
    left: 33px;
    overflow: hidden;
  }
  .v10_2008 {
    width: 375px;
    height: 223px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }